<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Math Questions</title>
</head>
<body>
    <h1>Simple Math Questions</h1>
    <form method="post">
        {% if questions_list %}
          <form method="post">
            {% for question_str, solution in questions_list %}
              <p>{{ question_str }}</p>
              <input type="number" name="user_answer_{{ loop.index0 }}" required>
            {% endfor %}
              <br>
            <button type="submit">Submit</button>
          </form>
        {% else %}
          <p>No questions generated yet.</p>
        {% endif %}
    </form>
</body>
</html>